@page
@model Frontend.Pages.TrainingPlans.IndexModel

@{
    ViewData["Title"] = "Training Plans";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Training Plans</h1>

<p>
    @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Administrator"))
    {
        <a asp-page="Create" class="btn btn-success">Add New Plan</a>
    }
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Description</th>
            @if (User.Identity?.IsAuthenticated == true && User.IsInRole("User"))
            {
                <th>Number of Trainees</th>
                
            }
            @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Administrator"))
            {
                <th class="text-end">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model.TrainingPlans)
        {
            <tr>
                <td>@plan.PlanName</td>
                <td>@plan.Description</td>
                <th>@plan.Trainees.Count</th>
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Administrator"))
                {

                    <td class="text-end">
                        <a asp-page="Edit" asp-route-id="@plan.TrainingPlanId" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-page="Delete" asp-route-id="@plan.TrainingPlanId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>